<section class="orderbook text-right">
  <section class="row pt-1 pb-1 no-gutters text-muted">
    <div class="col col-3 text-ask"></div>
    <div class="col col-3">price</div>
    <div class="col col-3">quantity</div>
    <div class="col col-3">total</div>
  </section>

  <section class="section asks">
    <section class="row no-gutters" *ngFor="let item of asks, let i = index; trackBy: trackByFunc">
      <div class="col col-3 text-ask">ask {{limit - i}}</div>
      <div class="col col-3">{{item.price | value : decimal.base}}</div>
      <div class="col col-3">{{item.quantity | value : decimal.counter}}</div>
      <div class="col col-3">{{item.total | value : decimal.counter}}</div>
      <div class="gage" [style.width.%]="item.total / maxTotal * 25"></div>
    </section>
  </section>

  <section class="section bids">
    <section class="row no-gutters" *ngFor="let item of bids, let i = index;  trackBy: trackByFunc">
      <div class="col col-3 text-bid">bids {{i + 1}}</div>
      <div class="col col-3">{{item.price | value : decimal.base}}</div>
      <div class="col col-3">{{item.quantity | value : decimal.counter}}</div>
      <div class="col col-3">{{item.total | value : decimal.counter}}</div>
      <div class="gage" [style.width.%]="item.total / maxTotal * 25"></div>
    </section>
  </section>
</section>